In [60]:
import pickle


import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
%matplotlib inline

### Load data

In [25]:
people = pd.read_csv('./data_ori/people.csv', 
                     parse_dates=['date'], 
                     dtype={'people_id': np.str, 'activity_id': np.str, 'char_38': np.int32})
train = pd.read_csv('./data_ori/act_train.csv', 
                    parse_dates=['date'], 
                    dtype={'people_id': np.str, 'activity_id': np.str, 'outcome': np.int8})
test = pd.read_csv('./data_ori/act_test.csv', 
                   parse_dates=['date'], 
                   dtype={'people_id': np.str, 'activity_id': np.str})

### Preprocess data

In [26]:
def preprocess(df):
    for col in df.columns:
        if col not in ['people_id', 'activity_id', 'date', 'char_38', 'outcome']:
            if df[col].dtype == 'object':
                df[col].fillna('type 0', inplace=True)
                df[col] = df[col].apply(lambda x: x.split(' ')[1]).astype(np.int32)
            elif df[col].dtype == 'bool':
                df[col] = df[col].astype(np.int8)
                
    df['year'] = df['date'].dt.year
    df['month'] = df['date'].dt.month
    df['day'] = df['date'].dt.day
    df['isweekend'] = (df['date'].dt.weekday >= 5).astype(int)
    df.drop('date', axis=1, inplace=True)
    
    return df

In [27]:
for df in [people, train, test]:
    df = preprocess(df)

In [28]:
people.head()

,people_id,char_1,group_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,...,char_33,char_34,char_35,char_36,char_37,char_38,year,month,day,isweekend
0,ppl_100,2,17304,2,5,5,5,3,11,2,...,0,1,1,1,0,36,2021,6,29,0
1,ppl_100002,2,8688,3,28,9,5,3,11,2,...,1,1,1,1,0,76,2021,1,6,0
2,ppl_100003,2,33592,3,4,8,5,2,5,2,...,1,1,0,1,1,99,2022,6,10,0
3,ppl_100004,2,22593,3,40,25,9,4,16,2,...,1,1,1,1,1,76,2022,7,20,0
4,ppl_100006,2,6534,3,40,25,9,3,8,2,...,0,0,1,1,0,84,2022,7,27,0

In [29]:
people.columns = [people.columns[0]] + ['p_' + c for c in people.columns[1:]]

In [30]:
train = pd.merge(train, people, how='left', on='people_id')
test = pd.merge(test, people, how='left', on='people_id')

In [31]:
train.shape[0]

2197291

In [32]:
train.activity_id.nunique()

2197291

In [33]:
train.set_index(train.activity_id, inplace=True)
test.set_index(test.activity_id, inplace=True)
train.head()

,people_id,activity_id,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,...,p_char_33,p_char_34,p_char_35,p_char_36,p_char_37,p_char_38,p_year,p_month,p_day,p_isweekend
activity_id,,,,,,,,,,,,,,,,,,,,,
act2_1734928,ppl_100,act2_1734928,4,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
act2_2434093,ppl_100,act2_2434093,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
act2_3404049,ppl_100,act2_3404049,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
act2_3651215,ppl_100,act2_3651215,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0
act2_4109017,ppl_100,act2_4109017,2,0,0,0,0,0,0,0,...,0,1,1,1,0,36,2021,6,29,0

In [34]:
test.head()

,people_id,activity_id,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,...,p_char_33,p_char_34,p_char_35,p_char_36,p_char_37,p_char_38,p_year,p_month,p_day,p_isweekend
activity_id,,,,,,,,,,,,,,,,,,,,,
act1_249281,ppl_100004,act1_249281,1,5,10,5,1,6,1,1,...,1,1,1,1,1,76,2022,7,20,0
act2_230855,ppl_100004,act2_230855,5,0,0,0,0,0,0,0,...,1,1,1,1,1,76,2022,7,20,0
act1_240724,ppl_10001,act1_240724,1,12,1,5,4,6,1,1,...,1,1,1,1,1,90,2022,10,14,0
act1_83552,ppl_10001,act1_83552,1,20,10,5,4,6,1,1,...,1,1,1,1,1,90,2022,10,14,0
act2_1043301,ppl_10001,act2_1043301,5,0,0,0,0,0,0,0,...,1,1,1,1,1,90,2022,10,14,0

In [35]:
train.columns

Index([u'people_id', u'activity_id', u'activity_category', u'char_1',
       u'char_2', u'char_3', u'char_4', u'char_5', u'char_6', u'char_7',
       u'char_8', u'char_9', u'char_10', u'outcome', u'year', u'month', u'day',
       u'isweekend', u'p_char_1', u'p_group_1', u'p_char_2', u'p_char_3',
       u'p_char_4', u'p_char_5', u'p_char_6', u'p_char_7', u'p_char_8',
       u'p_char_9', u'p_char_10', u'p_char_11', u'p_char_12', u'p_char_13',
       u'p_char_14', u'p_char_15', u'p_char_16', u'p_char_17', u'p_char_18',
       u'p_char_19', u'p_char_20', u'p_char_21', u'p_char_22', u'p_char_23',
       u'p_char_24', u'p_char_25', u'p_char_26', u'p_char_27', u'p_char_28',
       u'p_char_29', u'p_char_30', u'p_char_31', u'p_char_32', u'p_char_33',
       u'p_char_34', u'p_char_35', u'p_char_36', u'p_char_37', u'p_char_38',
       u'p_year', u'p_month', u'p_day', u'p_isweekend'],
      dtype='object')

In [49]:
y = train['outcome']
train.drop('outcome', axis=1, inplace=True)

In [50]:
col_drop = ['people_id','activity_id']
train.drop(col_drop, axis=1, inplace=True)
test.drop(col_drop, axis=1, inplace=True)

In [51]:
def reduce_dimen(dataset,column,toreplace):
    for index,i in dataset[column].duplicated(keep=False).iteritems():
        if i==False:
            dataset.set_value(index,column,toreplace)
    return dataset

In [54]:
categorical=['p_group_1','activity_category',
             'p_char_1','p_char_2','p_char_3','p_char_4','p_char_5',
             'p_char_6','p_char_7','p_char_8','p_char_9',
             'char_2','char_3','char_4','char_5',
             'char_6','char_7','char_8','char_9']

In [55]:
for category in categorical:
    train=reduce_dimen(train,category,9999999)
    test=reduce_dimen(test,category,9999999)

In [56]:
not_categorical=[]
for category in train.columns:
    if category not in categorical:
        not_categorical.append(category)

In [57]:
enc = OneHotEncoder(handle_unknown='ignore')
enc=enc.fit(pd.concat([train[categorical],test[categorical]]))
X_cat_sparse=enc.transform(train[categorical])
X_test_cat_sparse=enc.transform(test[categorical])

In [58]:
from scipy.sparse import hstack
X_sparse=hstack((train[not_categorical], X_cat_sparse))
X_test_sparse=hstack((test[not_categorical], X_test_cat_sparse))

In [59]:
print("Training data: " + format(X_sparse.shape))
print("Test data: " + format(X_test_sparse.shape))

Training data: (2197291, 31143)
Test data: (498687, 31143)

In [63]:
with open('./data/train_features_V1.pickle', 'wb') as f:
    pickle.dump(X_sparse, f, pickle.HIGHEST_PROTOCOL)

In [64]:
with open('./data/test_features_V1.pickle', 'wb') as f:
    pickle.dump(X_test_sparse, f, pickle.HIGHEST_PROTOCOL)

In [76]:
import xgboost as xgb
from sklearn.cross_validation import StratifiedKFold
from sklearn.metrics import roc_auc_score

In [77]:
print("###########")
print("One Hot enconded Test Dataset Script")

dtrain = xgb.DMatrix(X_sparse,label=y)
dtest = xgb.DMatrix(X_test_sparse)

param = {'max_depth':10, 'eta':0.02, 'silent':1, 'objective':'binary:logistic' }
param['nthread'] = 4
param['eval_metric'] = 'auc'
param['subsample'] = 0.7
param['colsample_bytree']= 0.7
param['min_child_weight'] = 0
param['booster'] = "gblinear"

watchlist  = [(dtrain,'train')]
num_round = 300
early_stopping_rounds=10
bst = xgb.train(param, dtrain, num_round, watchlist,early_stopping_rounds=early_stopping_rounds)

ypred = bst.predict(dtest)

###########
One Hot enconded Test Dataset Script

Will train until train error hasn't decreased in 10 rounds.
[0]	train-auc:0.888529
[1]	train-auc:0.896294
[2]	train-auc:0.904255
[3]	train-auc:0.912477
[4]	train-auc:0.920575
[5]	train-auc:0.928336
[6]	train-auc:0.935543
[7]	train-auc:0.942203
[8]	train-auc:0.948381
[9]	train-auc:0.954105
[10]	train-auc:0.959363
[11]	train-auc:0.964128
[12]	train-auc:0.968363
[13]	train-auc:0.972072
[14]	train-auc:0.975275
[15]	train-auc:0.978011
[16]	train-auc:0.980335
[17]	train-auc:0.982297
[18]	train-auc:0.983947
[19]	train-auc:0.985332
[20]	train-auc:0.986496
[21]	train-auc:0.987481
[22]	train-auc:0.988317
[23]	train-auc:0.989035
[24]	train-auc:0.989658
[25]	train-auc:0.990206
[26]	train-auc:0.990692
[27]	train-auc:0.991127
[28]	train-auc:0.991519
[29]	train-auc:0.991874
[30]	train-auc:0.992198
[31]	train-auc:0.992495
[32]	train-auc:0.992767
[33]	train-auc:0.993017
[34]	train-auc:0.993249
[35]	train-auc:0.993462
[36]	train-auc:0.993660
[37]	train-auc:0.993844
[38]	train-auc:0.994016
[39]	train-auc:0.994176
[40]	train-auc:0.994326
[41]	train-auc:0.994466
[42]	train-auc:0.994597
[43]	train-auc:0.994721
[44]	train-auc:0.994838
[45]	train-auc:0.994949
[46]	train-auc:0.995053
[47]	train-auc:0.995151
[48]	train-auc:0.995244
[49]	train-auc:0.995332
[50]	train-auc:0.995415
[51]	train-auc:0.995494
[52]	train-auc:0.995569
[53]	train-auc:0.995640
[54]	train-auc:0.995707
[55]	train-auc:0.995772
[56]	train-auc:0.995833
[57]	train-auc:0.995891
[58]	train-auc:0.995946
[59]	train-auc:0.995999
[60]	train-auc:0.996049
[61]	train-auc:0.996097
[62]	train-auc:0.996143
[63]	train-auc:0.996187
[64]	train-auc:0.996229
[65]	train-auc:0.996269
[66]	train-auc:0.996308
[67]	train-auc:0.996344
[68]	train-auc:0.996380
[69]	train-auc:0.996413
[70]	train-auc:0.996445
[71]	train-auc:0.996476
[72]	train-auc:0.996505
[73]	train-auc:0.996534
[74]	train-auc:0.996561
[75]	train-auc:0.996587
[76]	train-auc:0.996612
[77]	train-auc:0.996636
[78]	train-auc:0.996659
[79]	train-auc:0.996680
[80]	train-auc:0.996702
[81]	train-auc:0.996722
[82]	train-auc:0.996741
[83]	train-auc:0.996760
[84]	train-auc:0.996778
[85]	train-auc:0.996795
[86]	train-auc:0.996811
[87]	train-auc:0.996827
[88]	train-auc:0.996841
[89]	train-auc:0.996856
[90]	train-auc:0.996869
[91]	train-auc:0.996882
[92]	train-auc:0.996895
[93]	train-auc:0.996907
[94]	train-auc:0.996918
[95]	train-auc:0.996929
[96]	train-auc:0.996940
[97]	train-auc:0.996950
[98]	train-auc:0.996960
[99]	train-auc:0.996969
[100]	train-auc:0.996978
[101]	train-auc:0.996986
[102]	train-auc:0.996995
[103]	train-auc:0.997002
[104]	train-auc:0.997010
[105]	train-auc:0.997017
[106]	train-auc:0.997024
[107]	train-auc:0.997031
[108]	train-auc:0.997037
[109]	train-auc:0.997044
[110]	train-auc:0.997050
[111]	train-auc:0.997056
[112]	train-auc:0.997061
[113]	train-auc:0.997067
[114]	train-auc:0.997072
[115]	train-auc:0.997077
[116]	train-auc:0.997082
[117]	train-auc:0.997087
[118]	train-auc:0.997091
[119]	train-auc:0.997095
[120]	train-auc:0.997100
[121]	train-auc:0.997104
[122]	train-auc:0.997108
[123]	train-auc:0.997112
[124]	train-auc:0.997115
[125]	train-auc:0.997119
[126]	train-auc:0.997122
[127]	train-auc:0.997126
[128]	train-auc:0.997129
[129]	train-auc:0.997132
[130]	train-auc:0.997135
[131]	train-auc:0.997138
[132]	train-auc:0.997141
[133]	train-auc:0.997144
[134]	train-auc:0.997146
[135]	train-auc:0.997149
[136]	train-auc:0.997151
[137]	train-auc:0.997154
[138]	train-auc:0.997156
[139]	train-auc:0.997159
[140]	train-auc:0.997161
[141]	train-auc:0.997163
[142]	train-auc:0.997165
[143]	train-auc:0.997167
[144]	train-auc:0.997169
[145]	train-auc:0.997171
[146]	train-auc:0.997173
[147]	train-auc:0.997175
[148]	train-auc:0.997176
[149]	train-auc:0.997178
[150]	train-auc:0.997180
[151]	train-auc:0.997181
[152]	train-auc:0.997183
[153]	train-auc:0.997184
[154]	train-auc:0.997186
[155]	train-auc:0.997187
[156]	train-auc:0.997189
[157]	train-auc:0.997190
[158]	train-auc:0.997191
[159]	train-auc:0.997192
[160]	train-auc:0.997194
[161]	train-auc:0.997195
[162]	train-auc:0.997196
[163]	train-auc:0.997197
[164]	train-auc:0.997198
[165]	train-auc:0.997199
[166]	train-auc:0.997200
[167]	train-auc:0.997201
[168]	train-auc:0.997202
[169]	train-auc:0.997203
[170]	train-auc:0.997204
[171]	train-auc:0.997205
[172]	train-auc:0.997206
[173]	train-auc:0.997207
[174]	train-auc:0.997207
[175]	train-auc:0.997208
[176]	train-auc:0.997209
[177]	train-auc:0.997210
[178]	train-auc:0.997210
[179]	train-auc:0.997211
[180]	train-auc:0.997212
[181]	train-auc:0.997212
[182]	train-auc:0.997213
[183]	train-auc:0.997213
[184]	train-auc:0.997214
[185]	train-auc:0.997215
[186]	train-auc:0.997215
[187]	train-auc:0.997216
[188]	train-auc:0.997216
[189]	train-auc:0.997217
[190]	train-auc:0.997217
[191]	train-auc:0.997218
[192]	train-auc:0.997218
[193]	train-auc:0.997219
[194]	train-auc:0.997219
[195]	train-auc:0.997220
[196]	train-auc:0.997220
[197]	train-auc:0.997220
[198]	train-auc:0.997221
[199]	train-auc:0.997221
[200]	train-auc:0.997222
[201]	train-auc:0.997222
[202]	train-auc:0.997222
[203]	train-auc:0.997223
[204]	train-auc:0.997223
[205]	train-auc:0.997223
[206]	train-auc:0.997224
[207]	train-auc:0.997224
[208]	train-auc:0.997225
[209]	train-auc:0.997225
[210]	train-auc:0.997225
[211]	train-auc:0.997225
[212]	train-auc:0.997226
[213]	train-auc:0.997226
[214]	train-auc:0.997226
[215]	train-auc:0.997227
[216]	train-auc:0.997227
[217]	train-auc:0.997227
[218]	train-auc:0.997227
[219]	train-auc:0.997228
[220]	train-auc:0.997228
[221]	train-auc:0.997228
[222]	train-auc:0.997229
[223]	train-auc:0.997229
[224]	train-auc:0.997229
[225]	train-auc:0.997229
[226]	train-auc:0.997229
[227]	train-auc:0.997230
[228]	train-auc:0.997230
[229]	train-auc:0.997230
[230]	train-auc:0.997230
[231]	train-auc:0.997231
[232]	train-auc:0.997231
[233]	train-auc:0.997231
[234]	train-auc:0.997231
[235]	train-auc:0.997231
[236]	train-auc:0.997232
[237]	train-auc:0.997232
[238]	train-auc:0.997232
[239]	train-auc:0.997232
[240]	train-auc:0.997232
[241]	train-auc:0.997232
[242]	train-auc:0.997233
[243]	train-auc:0.997233
[244]	train-auc:0.997233
[245]	train-auc:0.997233
[246]	train-auc:0.997233
[247]	train-auc:0.997234
[248]	train-auc:0.997234
[249]	train-auc:0.997234
[250]	train-auc:0.997234
[251]	train-auc:0.997234
[252]	train-auc:0.997235
[253]	train-auc:0.997235
[254]	train-auc:0.997235
[255]	train-auc:0.997235
[256]	train-auc:0.997235
[257]	train-auc:0.997235
[258]	train-auc:0.997236
[259]	train-auc:0.997236
[260]	train-auc:0.997236
[261]	train-auc:0.997236
[262]	train-auc:0.997236
[263]	train-auc:0.997236
[264]	train-auc:0.997236
[265]	train-auc:0.997237
[266]	train-auc:0.997237
[267]	train-auc:0.997237
[268]	train-auc:0.997237
[269]	train-auc:0.997237
[270]	train-auc:0.997237
[271]	train-auc:0.997238
[272]	train-auc:0.997238
[273]	train-auc:0.997238
[274]	train-auc:0.997238
[275]	train-auc:0.997238
[276]	train-auc:0.997238
[277]	train-auc:0.997238
[278]	train-auc:0.997239
[279]	train-auc:0.997239
[280]	train-auc:0.997239
[281]	train-auc:0.997239
[282]	train-auc:0.997239
[283]	train-auc:0.997239
[284]	train-auc:0.997239
[285]	train-auc:0.997240
[286]	train-auc:0.997240
[287]	train-auc:0.997240
[288]	train-auc:0.997240
[289]	train-auc:0.997240
[290]	train-auc:0.997240
[291]	train-auc:0.997240
[292]	train-auc:0.997240
[293]	train-auc:0.997241
[294]	train-auc:0.997241
[295]	train-auc:0.997241
[296]	train-auc:0.997241
[297]	train-auc:0.997241
[298]	train-auc:0.997241
[299]	train-auc:0.997241

In [79]:
ypred[0:10]

array([ 0.00134509,  0.00156169,  0.99946839,  0.99960226,  0.99945778,
        0.99945563,  0.99945778,  0.99945778,  0.99945778,  0.99946219], dtype=float32)

In [66]:
from ml_toolbox.kaggle import KaggleResult

In [67]:
# Load predictions based on data leak
not_leak_value = 0.123456
y_pred_leak = pd.read_csv('leak_abuse_V1.csv')

In [68]:
y_pred_leak.shape

(498687, 2)

In [69]:
y_pred_leak[y_pred_leak.outcome==not_leak_value].outcome.shape

(69073,)

In [70]:
ypred[y_pred_leak[y_pred_leak.outcome==not_leak_value].outcome.index].shape

NameError: name 'ypred' is not defined

In [34]:
y_pred_leak[y_pred_leak.outcome==not_leak_value].outcome = ypred[y_pred_leak[y_pred_leak.outcome==not_leak_value].outcome.index]

/Users/joostbloom/anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2698: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [65]:
kag = KaggleResult(y_pred_leak, test.index.values, 0.997242, 'test2', 'test2')

NameError: name 'KaggleResult' is not defined

In [63]:
print kag.validate()

(True, 'all_ok')

In [64]:
kag.upload()

0.978699